body {
   font-family: 'PT Sans', sans-serif; 
    background-color: #33658a;
}
#middle {
    background-color: #6fffe9;
}
.s4 {
    background-color: #5398be;
}
.card-content{
    background-color: #5398be;
}

.outerTitle {
    background-color: #6fffe9 !important; 
}
.outerTitle2 {
    background-color:#81d2c7 !important;
}